@tailwind base;
@tailwind components;
@tailwind utilities;

.nodeBg-I910231_934228 {
    opacity: 1;
    background-image: url(/graphics/graphics0.png);
  }
  .nodeBg-3321230 {
    opacity: 1;
    background-image: url(/graphics/graphics1.png);
  }
  .nodeBg-3321232 {
    opacity: 1;
    background-image: url(/graphics/graphics2.png);
  }
  .nodeBg-3321243 {
    opacity: 1;
    background-image: url(/graphics/graphics3.png);
  }
  .nodeBg-3321244 {
    opacity: 1;
    background-image: url(/graphics/graphics4.png);
  }
  .nodeBg-3321245 {
    opacity: 1;
    background-image: url(/graphics/graphics5.png);
  }
  .nodeBg-3321247 {
    opacity: 1;
    background-image: url(/graphics/graphics6.png);
  }
  .nodeBg-3321248 {
    opacity: 1;
    background-image: url(/graphics/graphics7.png);
  }
  .nodeBg-3321249 {
    opacity: 1;
    background-image: url(/graphics/graphics8.png);
  }
  .nodeBg-3321251 {
    opacity: 1;
    background-image: url(/graphics/graphics9.png);
  }
  .nodeBg-3321252 {
    opacity: 1;
    background-image: url(/graphics/graphics10.png);
  }
  .nodeBg-3321253 {
    opacity: 1;
    background-image: url(/graphics/graphics11.png);
  }
  .nodeBg-3321254 {
    opacity: 1;
    background-image: url(/graphics/graphics12.png);
  }
  .nodeBg-3321256 {
    opacity: 1;
    background-image: url(/graphics/graphics13.png);
  }
  .nodeBg-3321257 {
    opacity: 1;
    background-image: url(/graphics/graphics14.png);
  }
  .nodeBg-3321258 {
    opacity: 1;
    background-image: url(/graphics/graphics15.png);
  }
  .nodeBg-3321260 {
    opacity: 1;
    background-image: url(/graphics/graphics16.png);
  }
  .nodeBg-3321261 {
    opacity: 1;
    background-image: url(/graphics/graphics17.png);
  }
  .nodeBg-3321263 {
    opacity: 1;
    background-image: url(/graphics/graphics18.png);
  }
  .nodeBg-3321264 {
    opacity: 1;
    background-image: url(/graphics/graphics19.png);
  }
  .nodeBg-3321266 {
    opacity: 1;
    background-image: url(/graphics/graphics20.png);
  }
  .nodeBg-3321267 {
    opacity: 1;
    background-image: url(/graphics/graphics21.png);
  }
  .nodeBg-3321270 {
    opacity: 1;
    background-image: url(/graphics/graphics22.png);
  }
  .nodeBg-3321272 {
    opacity: 1;
    background-image: url(/graphics/graphics23.png);
  }
  .nodeBg-3321275 {
    opacity: 1;
    background-image: url(/graphics/graphics24.png);
  }
  .nodeBg-3321276 {
    opacity: 1;
    background-image: url(/graphics/graphics25.png);
  }
  .nodeBg-3321277 {
    opacity: 1;
    background-image: url(/graphics/graphics26.png);
  }
  .nodeBg-3321279 {
    opacity: 1;
    background-image: url(/graphics/graphics27.png);
  }
  .nodeBg-3321280 {
    opacity: 1;
    background-image: url(/graphics/graphics28.png);
  }
  .nodeBg-3321283 {
    opacity: 1;
    background-image: url(/graphics/graphics29.png);
  }
  .nodeBg-3321284 {
    opacity: 1;
    background-image: url(/graphics/graphics30.png);
  }
  .nodeBg-3321286 {
    opacity: 1;
    background-image: url(/graphics/graphics31.png);
  }
  .nodeBg-3321287 {
    opacity: 1;
    background-image: url(/graphics/graphics32.png);
  }
  .nodeBg-I3331358_2017796 {
    opacity: 1;
    background-image: url(/graphics/graphics33.png);
  }
  .nodeBg-I3331358_2017797 {
    opacity: 1;
    background-image: url(/graphics/graphics34.png);
  }
  .nodeBg-I3331359_2017920 {
    opacity: 1;
    background-image: url(/graphics/graphics35.png);
  }
  .nodeBg-I3331360_2018016 {
    opacity: 1;
    background-image: url(/graphics/graphics36.png);
  }
  .nodeBg-I3331360_2018017 {
    opacity: 1;
    background-image: url(/graphics/graphics37.png);
  }
  .nodeBg-I3331361_2018069 {
    opacity: 1;
    background-image: url(/graphics/graphics38.png);
  }
  .nodeBg-I3331362_2018067 {
    opacity: 1;
    background-image: url(/graphics/graphics39.png);
  }
  .nodeBg-I3331363_2018179 {
    opacity: 1;
    background-image: url(/graphics/graphics40.png);
  }
  .nodeBg-I3361599_3341480 {
    opacity: 1;
    background-image: url(/graphics/graphics41.png);
  }
  .nodeBg-I3361683_3341480 {
    opacity: 1;
    background-image: url(/graphics/graphics41.png);
  }
  .nodeBg-I3341559_3341490 {
    opacity: 1;
    background-image: url(/graphics/graphics42.png);
  }
  .nodeBg-I3361624_3341480 {
    opacity: 1;
    background-image: url(/graphics/graphics41.png);
  }
  .nodeBg-I3361639_3341480 {
    opacity: 1;
    background-image: url(/graphics/graphics41.png);
  }
  .nodeBg-I3361575_3341490 {
    opacity: 1;
    background-image: url(/graphics/graphics42.png);
  }
  .nodeBg-3361725 {
    opacity: 1;
    background-image: url(/graphics/graphics43.png);
  }
  .nodeBg-3361726 {
    opacity: 1;
    background-image: url(/graphics/graphics44.png);
  }
  .nodeBg-3361727 {
    opacity: 1;
    background-image: url(/graphics/graphics45.png);
  }
  .nodeBg-I3371820_3371781 {
    opacity: 1;
    background-image: url(/graphics/graphics41.png);
  }
  .nodeBg-I338135_3371781 {
    opacity: 1;
    background-image: url(/graphics/graphics41.png);
  }
  .nodeBg-I338142_3371781 {
    opacity: 1;
    background-image: url(/graphics/graphics41.png);
  }
  .nodeBg-I338201_338172 {
    opacity: 1;
    background-image: url(/graphics/graphics46.png);
  }
  .nodeBg-I338209_338163 {
    opacity: 1;
    background-image: url(/graphics/graphics47.png);
  }
  .nodeBg-I339222_338163 {
    opacity: 1;
    background-image: url(/graphics/graphics47.png);
  }
  .nodeBg-I339230_338163 {
    opacity: 1;
    background-image: url(/graphics/graphics47.png);
  }
  .nodeBg-I339238_338163 {
    opacity: 1;
    background-image: url(/graphics/graphics47.png);
  }
  .nodeBg-I339246_338163 {
    opacity: 1;
    background-image: url(/graphics/graphics47.png);
  }
  .nodeBg-341351 {
    opacity: 1;
    background-image: url(/graphics/graphics48.png);
  }
  .nodeBg-341347 {
    opacity: 1;
    background-image: url(/graphics/graphics49.png);
  }
  .nodeBg-341329 {
    opacity: 1;
    background-image: url(/graphics/graphics50.png);
  }
  .nodeBg-341325 {
    opacity: 1;
    background-image: url(/graphics/graphics49.png);
  }
  .nodeBg-341386 {
    opacity: 1;
    background-image: url(/graphics/graphics50.png);
  }
  .nodeBg-341382 {
    opacity: 1;
    background-image: url(/graphics/graphics49.png);
  }
  .nodeBg-341421 {
    opacity: 1;
    background-image: url(/graphics/graphics50.png);
  }
  .nodeBg-341417 {
    opacity: 1;
    background-image: url(/graphics/graphics49.png);
  }
  .nodeBg-341469 {
    opacity: 1;
    background-image: url(/graphics/graphics50.png);
  }
  .nodeBg-341465 {
    opacity: 1;
    background-image: url(/graphics/graphics49.png);
  }
  .nodeBg-341491 {
    opacity: 1;
    background-image: url(/graphics/graphics50.png);
  }
  .nodeBg-341487 {
    opacity: 1;
    background-image: url(/graphics/graphics49.png);
  }
  .nodeBg-341537 {
    opacity: 1;
    background-image: url(/graphics/graphics51.png);
  }
  .nodeBg-341530 {
    opacity: 1;
    background-image: url(/graphics/graphics52.png);
  }
  .nodeBg-341531 {
    opacity: 1;
    background-image: url(/graphics/graphics53.png);
  }
  .nodeBg-341532 {
    opacity: 1;
    background-image: url(/graphics/graphics53.png);
  }
  .nodeBg-341533 {
    opacity: 1;
    background-image: url(/graphics/graphics53.png);
  }
  .nodeBg-341534 {
    opacity: 1;
    background-image: url(/graphics/graphics53.png);
  }
  .nodeBg-341540 {
    opacity: 1;
    background-image: url(/graphics/graphics54.png);
  }
  .nodeBg-341596 {
    opacity: 1;
    background-image: url(/graphics/graphics55.png);
  }
  .nodeBg-341597 {
    opacity: 1;
    background-image: url(/graphics/graphics56.png);
  }
  .nodeBg-I341656_330324 {
    opacity: 1;
    background-image: url(/graphics/graphics57.png);
  }
  .nodeBg-I341656_330325 {
    opacity: 1;
    background-image: url(/graphics/graphics58.png);
  }
  .nodeBg-341643 {
    opacity: 1;
    background-image: url(/graphics/graphics59.png);
  }
  .nodeBg-341644 {
    opacity: 1;
    background-image: url(/graphics/graphics60.png);
  }
  .nodeBg-341647 {
    opacity: 1;
    background-image: url(/graphics/graphics61.png);
  }
  